*{
    font-family: 'Gabarito', sans-serif;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --darkest-color: #433326;
    --lillac-color: #D3BEDF;
    --blue-color: #7C97B6;
    --green-color: #96A991;
    --brown-color: #92725A;
    --bege-color: #F5F0F0; 
    --light-color: #FBFBFB;
}

html {
    font-size: 18px;
}

::selection {
  background: var(--lillac-color);  /* Cor de fundo da seleção */
  color: var(--darkest-color);       /* Cor do texto selecionado */
}

body{
    background-image: url(/assets/background-image.png);
    cursor: auto;
    overflow-x: hidden;
    /* hide horizontal scroll */
}

body::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--light-color);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* creates padding around scroll thumb */
    border: 3px solid var(--light-color);
}

@media (max-width: 675px) {
    body {
        -ms-overflow-style: none; /* Remove barra de rolagem no IE e Edge */
        scrollbar-width: none; /* Remove barra de rolagem no Firefox */
    }
}

/* header */
header{
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.sections{
    border: 2px solid var(--darkest-color);
    border-radius: 34px;
    box-sizing: border-box;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    padding: 8px;
}

.sections li a{
    border-radius: 25px;
    color: var(--darkest-color);
    display: flex;
    font-size: 1rem;
    padding: 8px 18px;
}

.menu-option:hover{
    background-color: #e4e4e4;
    transition: background-color 0.2s ease-in-out;
}

.menu-selected{
    background-color: var(--lillac-color);
}

/*projects*/
#projects{
    margin: auto;
    max-width: 1000px;
    padding: 140px 50px 0px;
}

.projects-title{
    color: var(--light-color);
    border-radius: 20px;
    background-color: #A48DB2;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 630;
    letter-spacing: 0.04rem;
    padding: 8px 20px;
    width: 100vw;
    text-align: center;
}

.projects-sketch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    padding-right: 80px;
    margin-bottom: 40px;
}

.projects-sketch img{
    width: 80px;
}

.projects-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 18px;
    color: #433326;
}

.projects-text h1{
    font-family: Sansita;
    font-weight: 800;
    color: #9B82AA;
    font-size: 1.9rem;
    line-height: 2.4rem;
}

@media (max-width: 762px) {
    .projects-sketch{
        padding-right: 0px;
    }
    .projects-sketch img{
        display: none;
    }
}

.projects-list{
    display: flex;
    gap: 48px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-kroxe{
    transform: rotate(3deg); 
    transition: transform 0.3s ease;
}

.project-mind{
    transform: rotate(-3deg); 
    transition: transform 0.3s ease;
}

.project-encantado{
    transform: rotate(2deg); 
    transition: transform 0.3s ease;
}

.project-ac{
    transform: rotate(-2deg); 
    transition: transform 0.3s ease;
}

.project-asterisco{
    transform: rotate(1deg); 
    transition: transform 0.3s ease;
}

.project-load{
    transform: rotate(-3deg); 
    transition: transform 0.3s ease;
}

.project-kroxe, .project-mind, .project-encantado, .project-ac, .project-asterisco, .project-load{
    width: 300px;
}

.project-kroxe:hover, .project-mind:hover, .project-encantado:hover, .project-ac:hover, .project-asterisco:hover, .project-load:hover{
    transform: rotate(0deg);
}

/*contact*/
#contact{
    padding: 100px 50px 50px;
}

#contact div {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.contact-list{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px ;
}

.icon-github{
    transform: rotate(8deg); 
    transition: transform 0.3s ease;
}

.icon-behance{
    transform: rotate(-6deg); 
    transition: transform 0.3s ease;
}

.icon-linkedin{
    transform: rotate(4deg); 
    transition: transform 0.3s ease;
}

.icon-gmail{
    transform: rotate(-8deg); 
    transition: transform 0.3s ease;
}

.icon-github:hover, .icon-behance:hover, .icon-linkedin:hover, .icon-gmail:hover{
    transform: rotate(0deg);
}

.footer-description{
    font-size: 0.9rem;
    color: var(--darkest-color);
    opacity: 0.8;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.footer-description a{
    color: var(--darkest-color);
    text-decoration: underline;
}

@media (max-width: 675px) {
    html {
        font-size: 16px; /* Reduz o tamanho da fonte para dispositivos móveis */
    }

    #projects{
        margin: auto;
        max-width: 1000px;
        padding: 120px 50px 0px;
    }

    .projects-title{
        font-weight: 620;
    }

    .project-kroxe, .project-mind, .project-encantado, .project-ac, .project-asterisco, .project-load{
        width: 260px;
    }

    #contact{
        padding: 60px 50px 50px;
    }

    .icon-github, .icon-behance, .icon-linkedin, .icon-gmail{
        width: 108px;
    }

    .contact-list{
        padding-bottom: 80px ;
    }
}