*{
    font-family: 'Gabarito', sans-serif;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --darkest-color: #433326;
    --lillac-color: #D3BEDF;
    --blue-color: #7C97B6;
    --green-color: #96A991;
    --brown-color: #92725A;
    --bege-color: #F5F0F0; 
    --light-color: #FBFBFB;
}

html {
    font-size: 18px;
}

::selection {
  background: var(--lillac-color);  /* Cor de fundo da seleção */
  color: var(--darkest-color);       /* Cor do texto selecionado */
}

body{
    background-image: url(/assets/background-image.png);
    cursor: auto;
    overflow-x: hidden;
    /* hide horizontal scroll */
}

body::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--light-color);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* creates padding around scroll thumb */
    border: 3px solid var(--light-color);
}

@media (max-width: 675px) {
    body {
        -ms-overflow-style: none; /* Remove barra de rolagem no IE e Edge */
        scrollbar-width: none; /* Remove barra de rolagem no Firefox */
    }
}

/* header */
header{
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.sections{
    border: 2px solid var(--darkest-color);
    border-radius: 34px;
    box-sizing: border-box;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    padding: 8px;
}

.sections li a{
    border-radius: 25px;
    color: var(--darkest-color);
    display: flex;
    font-size: 1rem;
    padding: 8px 18px;
}

.menu-option:hover{
    background-color: #e4e4e4;
    transition: background-color 0.2s ease-in-out;
}

.menu-selected{
    background-color: #E3A4A4;
}

/*main*/
main{
    padding: 140px 50px 0px;
}

/* about section*/
#about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card{
    align-items: center;
    background-color: #C07F7F;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    margin: 4px 0px 60px;
    max-width: 490px;
    padding: 14px;
    transform: rotate(-2deg);
}

.about-card-title{
    color: var(--light-color);
    margin-bottom: 14px;
}

.about-card-title h1{
    font-family: Sansita;
    font-size: 1.7rem;
    font-weight: 800;
    letter-spacing: 0.04rem;
}

.about-card-content{
    background-color: var(--light-color);
    border-radius: 6px;
    color: var(--darkest-color);
    padding: 20px 32px;
}

.about-card-content p{
    line-height: 26px;
}

/*experience section*/
.exp-sketch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    padding-right: 70px;
    margin-bottom: 40px;
}

.exp-sketch img{
    width: 80px;
}

.exp-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 18px;
    color: #433326;
}

.exp-text h1{
    font-family: Sansita;
    font-weight: 800;
    color: #C07F7F;
    font-size: 1.9rem;
    line-height: 2.4rem;
}

.exp-text p{
    max-width: 280px;
    margin: auto;
}

@media (max-width: 675px) {
    .exp-sketch{
        padding-right: 0px;
    }
    .exp-sketch img{
        display: none;
    }
}

/*experience*/
#experience{
    max-width: 600px;
    margin: 0 auto;
    color: var(--darkest-color);
    filter: drop-shadow(0 0 10px rgba(67, 51, 38, 0.30));
}

.info-experience{
    background-color: var(--bege-color);
    border-radius: 20px;
    padding: 0px 0px 0px;
}

.title-experience{
    text-align: center;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
    background-color: #C07F7F;
    height: 20px;
}

.job{
    border-bottom: 2px dotted var(--darkest-color);
    padding: 2rem 0px 0;
    margin: 0 36px 0;
}

.title-job{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.title-job h2{
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.info-experience h3{
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0.6rem 0;
}

.info-experience p{
    font-size: 1rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.barcode{
    background-color: var(--bege-color);
    border-radius: 20px;
    padding: 30px 50px 20px;
}

.barcode img{
    width: 100%;
}

/*contact*/
#contact{
    padding: 100px 0px 50px;
}

#contact div {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.contact-list{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px ;
}

.icon-github{
    transform: rotate(8deg); 
    transition: transform 0.3s ease;
}

.icon-behance{
    transform: rotate(-6deg); 
    transition: transform 0.3s ease;
}

.icon-linkedin{
    transform: rotate(4deg); 
    transition: transform 0.3s ease;
}

.icon-gmail{
    transform: rotate(-8deg); 
    transition: transform 0.3s ease;
}

.icon-github:hover, .icon-behance:hover, .icon-linkedin:hover, .icon-gmail:hover{
    transform: rotate(0deg);
}

.footer-description{
    font-size: 0.9rem;
    color: var(--darkest-color);
    opacity: 0.8;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.footer-description a{
    color: var(--darkest-color);
    text-decoration: underline;
}

@media (max-width: 675px) {
    html {
        font-size: 16px; /* Reduz o tamanho da fonte para dispositivos móveis */
    }

    #contact{
        padding: 80px 50px 50px;
    }

    .icon-github, .icon-behance, .icon-linkedin, .icon-gmail{
        width: 108px;
    }

    .contact-list{
        padding-bottom: 80px ;
    }
}